/*small screens*/
@media only screen and (max-width: 500px){
    #right{
        width:85vw;
        font-size: 2.7vmax;
    }
    #sthead{
        font-size: 1.5vh;
    }
    #selftype{
        width: 20vh;
    }
    .card {
        z-index: 3;
        font-size:2.5vmax;
        min-width: 30px;
        max-width:350px;
    }
    .cardfront .topline .title{
        font-size:2.3vmax;
    } 
    .cardfront .bottom p{
        font-size:2vmax !important;

    }

    .card:hover .cardfront p{
        margin-top: 0;
        font-size: 2vmax;
        height:2.5vh;
        width:100%;
    }

    .cardbacklinks i {
        font-size: 2vmax;
    }

    .cardback .info h4{
        font-size: large;
    }
    .info .infoparagragh{
        font-size: medium;
    }



}

/*slightly larger screen*/
@media only screen and (max-width: 1000px){
    #pic{
        max-width:15vw;
        
    }
    #quicksearch{
        font-size: 1.6vh;
    }
    #headerpad{
        width:1vw;

    }
    #titlesouter{
        width:65vw;
    }
    #right{
        width:80vw;
        font-size: 2.5vw;

        
    }
    #rightshow{
        width:5.5vw;
    }
    #rightshow span{
        font-size: 2.5vw;
    }
    #righthide{
        width:5vw;
    }
    .cardfront .title{
        font-size:2.8vw;
    }
    .card:hover .cardfront p{
        margin-top: 0;
        font-size: 2v;
        height:2.5vh;
        width:100%;
    }
    .card:hover .cardfront p{
        margin-top: 0;
        font-size: 2vmax;
        height:2.5vh;
        width:100%;
    }

    .cardbacklinks i {
        font-size: 2vmax;
    }

    .cardback .info h4{
        font-size: large;
    }
    .info .infoparagragh{
        font-size:medium;
    }


}




@media only screen and (min-width: 1000px){

    #right{
        font-size: 2vw;
    };

    #rightshow{
        width:2.5vw;
    }
    #rightshow span{
        font-size:1.3em;
    }
    .cardfront .title{
        font-size:1.1vw;
        
    }
      
      .card:hover .cardfront p{
        font-size: 0.8vw;
        /* margin-top: 0;
        height:2.5vh;
        width:100%; */
    }

    .cv i{
        font-size:40px;
    }

}


@media only screen and (min-width: 2000px){

    .cardfront .title{
        font-size:30px;
        
    }
      
      .card:hover .cardfront p{
        font-size:20px;
        /* margin-top: 0;
        height:2.5vh;
        width:100%; */
    }

    #pic{
        max-width:10vw;
        margin:auto;
        margin-top: 3vh;
        margin-bottom: 1vh;
    }


}