

#selftype .highlighted {
    background-color:orange ;
}

#selftype{

    min-width: 30vh;
    width:fit-content;
    height:100%;
    /* border-style: dashed;
    border-color: green; */
} 
   




#sthead{
    margin-top: 0.2vh;
    line-height: 3vh;
    font-size: 3vh;
    height:100%;
    width:fit-content;
    display:flex;
    flex-direction: row;
    /* border-color: red;
    border-style: dashed;  */
}

.cursor{
    margin-left: 0;
    margin-top: 0;
    width:2px;
    font-weight: 900;
    display:inline;
    color:purple;  
}

#typed{
    margin-top: 0vh;
    width:fit-content;
    height:fit-content;
    /* border-style: dashed;
    border-color: orange; */
}
.typed{
    font-weight: 900;
    display:inline;
    color:purple;
    max-width:20vw;
    /* height:fit-content; */
    /* border-style: dashed;
    border-color: blue; */
    border-width:0;

}

#start{
    margin-top: 0vh;
    font-weight: 900;
    height: 100%;
    width: fit-content;
    color:orange;
    /* border-style: dashed;  */
}

#start span{
    margin-top: 0;
}

.hidden{
    opacity:0;
}

/* *{ 
    box-sizing: border-box;
    font-family:"poppins"-sans-serif;
}  */