
#selftype .highlighted {
    background-color:orange ;

}

#selftype{
    min-width: 24vw;
    width:fit-content;
    height:15vh;
    /* border-style: dashed;
    border-color: green; */
} 
   
#head{
    line-height: 2vh;
   
    position:absolute;
    height:15vh;
    width:30vw;
    display:flex;
    flex-direction: row;
    /* border-color: red;
    border-style: dashed;  */


}

#selftype p {
    margin-top: 0.5vh;
    margin-bottom: 0;
}

#selftype p  span{
    margin-top: 0vh;
    margin-bottom: 0;
}

.cursor{
    margin-left: 0;
    width:1px;
    font-size:calc((5vw + 1vh)/3.5);
    font-weight: 800;
    display:inline;
    color:purple;  
}

#typed{
    margin-top: 0vh;
   
    width:18vw;
    height:15vh;
    border-style: dashed;
    border-color: orange;
}
.typed{
    margin-top: 0;
    font-weight: 900;

    margin-right:0;
    color:purple;
    max-width:20vw;
    height:15vh;
    font-size: calc((5vw + 1vh)/3.5);
    /* border-style: dashed;
    border-color: blue; */

}

#start{
    margin-top: 0;
    font-weight: 900;

    /* position: absolute; */
    height: 15vh;
    width: fit-content;
    /* text-align: end; */
    font-size: calc((5vw + 1vh)/3.5);
    display:inline-block;
    color:orange;
    border-style: dashed; 


}

.hidden{
    opacity:0;
}

*{ 
    box-sizing: border-box;
    font-family:"poppins"-sans-serif;
} 