
#selftype .highlighted {
    background-color:orange ;
}

#selftype{
    /* position:absolute;
    top:1vh;
    right:vw; */
    border-style: dashed;
    width:30vw;
}
   
#head{
    position:absolute;
    height:15vh;
    width:20vw;
    line-height: 3vh;
    border-style: dashed; 
    border-color: yellow;
}


.cursor{
    margin-left: 0;
    width:1px;
    font-size:calc(2.5vw+1vh);
    display:inline;
    color:purple;  
}

#typed{
    position:absolute;
    left:5.5vw;
    top: -2vh;
    margin-left:1vw;
    width:20vw;
}
.typed{

    margin-right:0;
    color:purple;
    max-width:10vw;
    height:15vh;
    font-size: calc(2.5vw+1vh);
    
    border-style: dashed;

}

#start{
    position: absolute;
    height: 15vh;
    width: 9vw;
    font-size: calc(2.5vw+1vh);
     border-style: dashed; 
    display:inline-block;
    color:orange;

}

.hidden{
    opacity:0;
}

*{ 
    box-sizing: border-box;
    font-family:"poppins"-sans-serif;
} 