
#head{
    position:static;
    height:20vh;
    width:20vw;
    border-style: solid;
}

.cursor{
    margin-left: 0;
    width:1px;
    display:inline;
    color:orange;
   
}
#typed{
    position:absolute;
    left:6vw;
    top:-2px;
}
.typed{
    
    margin-right:0;
    color:white;
    height:15vh;
    /* border-style: dashed; */

}

#start{
    position: absolute;
    height: 15vh;
    width: 6vw;
    /* border-style: dashed; */
    display:inline-block;

}

.hidden{
    opacity:0;

}

body{
    background:#4f378a;;
    /* align-items: center; */
    min-height: 100vh;
}

*{
    
    box-sizing: border-box;
    font-family:"poppins"-sans-serif;
}