<!DOCTYPE html>
<html lang="en">
<head>
  <title>NG portfolio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href = 'card.css' rel = 'stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class = 'card'>
    <div class = 'profile-pic'>
        <img src = '../assets/grifalogomedium.png'>
    </div>

    <div class = 'details'>
        <div class = 'content'>
            <h2>Nick Griffiths</h2>
            <p class = 'tag'>developer</p>
            <p class = 'about'>
                A dude who does codes
            </p>

        </div>
    

    <div class = 'buttons'>
        <div class = 'social'>
            <a href = '' ><i class = 'fa fa-instagram'></i> </a>
            <a href = '' ><i class = 'fa fa-github'></i> </a>
            <a href = '' ><i class = 'fa fa-linkedin'></i> </a>
        </div>
        <a href = '#' class = 'link'>Project
            <i class = 'fa-solid fa-arrow-up-right-from-square'></i>
            
        </a>
    </div>

    </div>
</div>
