
.highlighted{
    background-color:orange;
}


#selftype{
    position:absolute;
    left:70vw;
    top:1vh;
    width:21vw;
}
               
#head{
    position:static;
    height:15vh;
    width:15vw;
    line-height: 2vw;

    /* border-style: solid;
    border-color: black; */
}

.cursor{
    margin-left: 0;
    width:1px;
    font-size:2vw;
    display:inline;
    color:purple;
   
}
#typed{
    position:absolute;
    left:4vw;
    top:-0.25vh;
    margin-left:1vw;
}
.typed{

    margin-right:0;
    color:purple;
    max-width:10vw;
    height:15vh;
    font-size: 2vw;
    border-style: dashed;

}

#start{
    position: absolute;
    height: 15vh;
    max-width: 6vw;
    font-size: 2vw;
    /* border-style: dashed; */
    display:inline-block;
    color:black;

}

.hidden{
    opacity:0;

}

*{
    
    box-sizing: border-box;
    font-family:"poppins"-sans-serif;
}